:host {font-family: Arial;}

nova-icon{
  margin-right: 4px;
}
/* Style the tab */


/* Style the buttons that are used to open the tab content */
#tab_container.horizontal {
  height: 24px;
  float: left;
  border-bottom: 1px solid #ccc;
  background-color: inherit;
}

#tab_container.vertical {
  width : 200px;
  float: left;
  border-right: 1px solid #ccc;
  background-color: inherit;
}


#tab_container .horizontal {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
}

#tab_container .vertical {
  width: 200px;
  display: block;
  background-color: inherit;
  padding: 16px 16px;
  margin-top: 10px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  border-right: 2px solid transparent;
}

/* Change background color of buttons on hover */
#tab_container :hover:enabled {
  color: #3381ff;
}

/* Create an active/current tablink class */
#tab_container .horizontal.active {
  font-weight: bold;
  color: #3381ff;
  border-bottom-color: #3381ff;
  transition: 0.5s;
}

#tab_container .vertical.active {
  font-weight: bold;
  color: #3381ff;
  border-right-color: #3381ff;
  transition: 0.5s;
}

/* Style the tab content */
#tabcontent_container{
  width: 70%;
}

#tabcontent_container .horizontal{
  padding: 24px 12px;
  margin-right: 50%;
  display: none;
}

#tabcontent_container .vertical {
  float: left;
  padding: 0px 12px;
  border: none;
  width: 70%;
  height: 300px;
  display: none;
}

#tabcontent_container .horizontal.active {
  display: block;
  animation-name: slidein;
  animation-duration: 0.5s;
}

#tabcontent_container .vertical.active {
  display: block;
}

 
#tabcontent_container {
    /* for chrome and safari*/
    transition: 2s;
    -webkit-animation-name: slidein;

    /*for firefox*/
    -moz-animation-duration: 0.5s;
    -moz-animation-name: slidein;

    /* for opera*/
    -o-animation-duration: 0.5s;
    -o-animation-name: slidein;

    /* Standard syntax*/
    animation-duration: 0.5s;
    animation-name: slidein;
}


  /* Style the close button */
.closeTab {
    float: middle;
    cursor: pointer;
    color: #dddbdb;
    padding: 5px;
  }
  
.closeTab:hover {
  color:#1e1e1e;
}

.closeTab:hover:disabled {
  color:#1e1e1e;
  color: #dddbdb;
}

  @-webkit-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@-o-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
