:host {font-family: Arial;}

nova-icon{
  margin-right: 4px;
}
/* Style the tab */

#tab_container{
  width: 70%;
  overflow: visible;
  border-bottom: 1px solid #dddbdb;
  margin-right: 240px;
}

#tabcontent_container{
  width: 700px;
}


#tab_container button + button {
  margin-left: 16px;
}
  
/* Style the buttons that are used to open the tab content */
#tab_container button {
  background-color: inherit;
  float: left;  
  border: none;
  border-bottom: 2px solid transparent;
  outline-style: hidden;
  cursor: pointer;
  padding: 16px 10px 4px 10px;
  
}
  
/* Change background color of buttons on hover */
#tab_container button:hover:enabled {
  color: #3381ff;
}

/* Create an active/current tablink class */
#tab_container .active {
  color: #3381ff;
  border-bottom-color: #3381ff;
  transition: 0.5s;
}

/* Style the tab content */
.tabcontent div{
  padding: 15px;
  margin-right: 50%;
  display: none;
}

.tabcontent .active {
  display: block;
  animation-name: slidein;
  animation-duration: 0.5s;
}

 
.tabcontent {
    /* for chrome and safari*/
    transition: 2s;
    -webkit-animation-name: slidein;

    /*for firefox*/
    -moz-animation-duration: 0.5s;
    -moz-animation-name: slidein;

      /* for opera*/
    -o-animation-duration: 0.5s;
    -o-animation-name: slidein;

      /* Standard syntax*/
    animation-duration: 0.5s;
    animation-name: slidein;
}


  /* Style the close button */
.closeTab {
    float: middle;
    cursor: pointer;
    color: #dddbdb;
    padding: 5px;
  }
  
.closeTab:hover {
  color:#1e1e1e;
}

.closeTab:hover:disabled {
  color:#1e1e1e;
  color: #dddbdb;
}

  @-webkit-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
 @-o-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
  @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
