
:host {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    background-color: $secondary;
}

.calendar {
    background-color: $secondary; 
    margin: 10px 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.calendar__container {
    color: $fontColor;
    background-color: $secondary; 
}

.calendar__day {
    margin: 10px 0;
    display: inline-block;
    margin: 0 4px;
    font-size: 16px;
    width: 100%;
    display: flex;

    &.inactive {
        opacity: .25;
        cursor: pointer;
    }
    
    .calendar__number {
        display: flex;
        width: 100%;
        height: 1rem;
        justify-content: flex-end;
    }

    &:hover, .active {
        background: rgba($primary, .2);
    }

    &:active {
        background: rgba($primary, .3);
    }
}

.calendar__week {
    display: flex;
    justify-content: space-between;
}


.calendar__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    select {
        display: inline-block;
        margin-left: 1em;
        margin-bottom: 11px;
        width: 100px;
        height: 100%;
        padding: 10px 12px;
        font-size: 16px;
        color: $fontColor;
        background-color: $secondary;
        border: 1px solid $borderColor;
        border-radius: 4px;
        cursor: pointer;
        
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* fallback first */ 
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") $secondary no-repeat 98.5% ; 
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") $secondary no-repeat calc(100% - 10px) ;
        }
        /*For IE*/
        select::-ms-expand { display: none; }

        .calendar__controls__switch {
            margin-left: 1em;
            margin-bottom: 11px;
        }

        button {
            margin: 0;
            padding: 10px 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border: 1px solid $borderColor;
            background: $secondary;
            font-size: 16px;
            color: $fontColor;

            &.calendar__controls__months {
                border-radius: 5px 0 0 5px;
                
            }
            &.calendar__controls__years {
                border-radius: 0 5px 5px 0;
            }

            &.active {
                border-color: $primary;
                color: $primary;
            }
        }
        

}

.calendar--card {
    border: 1px solid $borderColor;
    border-radius: 4px;

    .calendar__controls {
        padding: 11px 16px 0 0;
        border-bottom: 1px solid $borderColor;

        select, button {
            padding: 5px;
            font-size: 16px;
        }
    }

    .calendar__events {
        display: none;
    }

    .calendar__header .calendar__day {
        justify-content: center;
    }

    .calendar__day {
        color: $fontColor;
        justify-content: center;
        padding: 8px 0;
        margin: 0;

        &:hover {
            background: none;
        }
        &:focus {
            outline: none;
        }
        .calendar__number {
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            padding: 0;

            &:hover {
                background: rgba($primary, .2);
            }

            &:active {
                background: rgba($primary, .3);
            }


        }
        &.selected {
            .calendar__number {
                background: $primary;
                color: $fontColor;
            }
        }
        &:focus {
            .calendar__number {
                outline: none;
                border: 1px solid $primary;
            }
        }
    }
}

section:not(.calendar--card){
    .calendar__day {
        height: 120px;
        border-top: 3px solid $borderColor;
        width: 100%;
        padding: 0 1em;
        flex-direction: column;
        justify-content: flex-start;
        .calendar__number {
            margin-bottom: 1em;
        }
        &:focus {
            color: #1890ff;
            background: rgba($primary, .2);
            outline: none;
        }

        &.selected {
            border-top: 3px solid $primary;
        }

        ul.calendar__events {
            overflow-y: auto;
            list-style: none;
            margin: 0;
            max-width: 100%;
            max-height: 100%;
        }

        nova-icon {
            margin-right: .5em;
        }

    }
    
    .calendar__header .calendar__day {
        border: none;
        height: 1.6rem;
        justify-content: flex-end;
        &:hover {
            background: none;
        }
    }

    .calendar__week {
        display: flex;
        justify-content: space-between;
    }
}

.btn_full {
    color:  $fontColor;
    &:hover {
        color: $primary;
    }
}

:fullscreen {
    background-color: $secondary;
}
